@{
    ViewData["Title"] = "Home Page";
}
@model List<string>

<div class="main text-center">
  <h1 class="display-4">Dashboard</h1>
  <input class="form-control" id="myInput" type="text" placeholder="Search...">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Receipt</td>
        <td>Store</td>
        <td>Date</td>
        <td>Amount</td>
        <td>Categories</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href=""></a> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="img">Upload receipt</label>
    <br>
    <input type="file" name="file" id="">
    <br>
    <button id="btn-upload">Upload</button>
    <br>
    <br>
  </form>
  <br>
  <br>
</div>

<script>
  $(document).ready(function(){
    $("#btn-upload").click(function(){
      $("form").append("<div class='spinner-border' role='status'><div>")
    });
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>